.avatar.proportioned {
    width: 300px;
    /* note that something like height: auto; will automatically adjust to fit with the altered width */
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}